.price {
    padding: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title,
    &__loading {
        text-align: center;
    }
}

.content {
    padding: 32px;
}